<header class="site-header" role="banner">

  <h1 class="site-title"><a href="<%= data.meta.baseurl %>/" rel="home"><%= data.meta.title %></a></h1>

  <nav class="site-nav" role="navigation">
    <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
    <ul>
      <% data.nav.each do |link| %>
        <li>
          <a href="<%= data.meta.baseurl %><%= link.href %>" <% if current_page.url == link.href %>class="current"<% end %>><%= link.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>

</header>
