<!DOCTYPE html>
<html lang="en-US">

  <%= partial "layouts/head" %>

  <body>

    <%= partial "layouts/header" %>

    <div class="wrapper" role="main" id="content">
      <%= yield %>
    </div>

    <%= partial "layouts/footer" %>

  </body>

  <script data-main="<%= data.meta.baseurl %>/assets/js/main" src="<%= data.meta.baseurl %>/assets/js/require.js"></script>

</html>
