<% wrap_layout :base do %>

<%= partial("layouts/postcontent", :locals => { :post => current_page, :single => true }) %>

<% current_page.data.comments do |comment| %>
<div class="comment-list">
	<div class="comment">
		<div class="comment-author">
			<% if comment.author_url != '' %>
				<a href="<%= comment.author_url %>" rel="nofollow"><%= comment.author %></a>
			<% else %>
				<%= comment.author %>
			<% end %>
		</div>
		<div class="comment-date">
			<time class="entry-date" datetime="<%= comment.date.strftime('%F') %>"><%= comment.date.strftime('%B %-d, %Y') %></time>
		</div>
		<div class="comment-content">
			<%= comment.content | markdownify %>
		</div>
	</div>
</div>
<% end %>

<% end %>