---
pageable: false
---
<article class="archive">

  <header class="entry-header">
    <h1 class="entry-title">Archive of posts from 
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
    </h1>
  </header>

  <div class="entry-content">
    <ul>
    <% page_articles.each_with_index do |article, i| %>
      <li>
        <%= link_to article.title, article %>
        <time class="entry-date" datetime="<%= article.date.strftime('%F') %>"><%= article.date.strftime('%B %-d, %Y') %></time>
      </li>
    <% end %>
    </ul>
  </div>

</article>